@import common.Config

@selectIt(attribute: String, defaultVal: String, candidates: Array[String]) = {
    <div class="form-group">
        <label for="app1-@(attribute)" class="col-lg-2 control-label"><b>@attribute</b></label>
        <div class="col-lg-10">
            <select id="app1-@(attribute)" class="form-control">
            @for(c <- candidates) {
                @if(defaultVal == c) {
                    <option selected="selected" value="@(c)">@c</option>
                } else {
                    <option value="@(c)">@c</option>
                }
            }
            </select>
        </div>
    </div>
}

@inputIt(attribute: String, elemId: String) = {
    <div class="form-group">
        <label for="app1-@(attribute)" class="col-lg-2">@attribute</label>
        <div class="col-lg-10">
            <input type="text" id="app1-@(attribute)" class="form-control" placeholder="e.g., @(elemId)"/>
        </div>
    </div>
}

@UIOptions()

<div class="container">
    <form class="form-horizontal">
        @selectIt("pubYear", "2007", Array.range(Config.a1Range._1, Config.a2Range._2).map(_.toString))
        @inputIt("venue", "Informatik Spektrum")
        @inputIt("authors", "Andrei Terechko")
    </form>
</div>

<div class="container">
    <div class="col-lg-12">
        <button type="button" id="topRecord" class="btn btn-primary" onclick="a1Search()">Get Top Topics!</button>
    </div>
</div>