@import common.Config

@UIOptions()

@selectIt(attribute: String, defaultVal: String, candidates: Array[String]) = {
    <div class="form-group">
        <label for="app2-@(attribute)" class="control-label"><b>@attribute</b></label>
        <div>
            <select id="app2-@(attribute)" class="form-control col-lg-10">
            @for(c <- candidates) {
                @if(defaultVal == c) {
                    <option selected="selected" value="@(c)">@c</option>
                } else {
                    <option value="@(c)">@c</option>
                }
            }
            </select>
        </div>
    </div>
}

@inputIt(attribute: String, elemId: String) = {
    <div class="form-group">
        <label for="app2-@(attribute)">@attribute</label>
        <div>
            <input type="text" id="app2-@(attribute)" class="form-control" placeholder="e.g., @(elemId)"/>
        </div>
    </div>
}

<div class="container">
    <div class="input-group col-lg-12">
        <div class="checkbox">
            <label>
                <input id="cb-force-index" type="checkbox"> Force Index
            </label>
        </div>
        <button type="button" id="indexButton" class="btn btn-primary" onclick="a2Index()">Index Docs</button>
    </div>
</div>

<div class="container">
    <form class="form-horizontal col-lg-12">
        @selectIt("pubYear", "2007", Array.range(Config.a2Range._1, Config.a2Range._2).map(_.toString))
        @inputIt("venue", "IJCC")
    </form>
</div>

<div class="container">
    <div class="input-group col-lg-12">
        <span class="input-group-btn">
            <button type="button" id="a2button" class="btn btn-default col-lg-6" onclick="a2Search()">Search!</button>
            <button type="button" class="btn btn-info col-lg-6" onclick="references()">Help</button>
        </span>
    </div>
</div>