@UIOptions()

<div class="container">
    <div class="form col-lg-12">
        <div class="checkbox">
            <label>
                <input id="cb-force-index" type="checkbox"> ReIndex
            </label>
        </div>
        <button type="button" id="indexButton" class="btn btn-primary" onclick="bIndex()">Index Docs</button>
    </div>
</div>

<div class="container">

    <div class="input-group col-lg-12">
        <input type="text" id="searchBox" class="form-control" placeholder="Search for..." onkeypress="selectiveSearchIt(event)"/>
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="searchButton" onclick="bSearch()">Go!</button>
            <button type="button" class="btn btn-info" onclick="readTheDocs()">Help</button>
        </span>
    </div>
</div>