@(result: LSearchResult)

@main("LSearcher") {
    <nav class="navbar navbar-default"></nav>
    <div class="container">
        @*<i class="icon-calendar">@(new Date())</i>*@
        @corner()
        <div class="row container">
            <div class="col-lg-6">
                @*<div class="alert alert-info" role="alert">*@
                @indexUI(result.stats)
                @*</div>*@
                @*<div class="alert alert-info" role="alert">*@
                @searchUI(result.pubs)
                @*</div>*@
            </div>
            <div class="col-lg-6">
            @infoUI()
            </div>
        </div>
    </div>
}