@(result: List[String])

    @main("LSearcher") {
        <nav class="navbar navbar-default">

            <div class="container">
                @corner()
                <div class="alert alert-info" role="alert">
                @indexUI()
                </div>
                <div class="alert alert-info" role="alert">
                @searchUI(result)
                </div>
                <div class = "panel panel-default">
                    <div class = "panel-body" id="statusPanel">
                        LSearcher
                    </div>
                </div>
            </div>
        </nav>
    }