<fieldset>
    <input id="cb-index-stem" class="checkbox-inline" type="checkbox" value="stem" > use stemming<br>
    <input id="cb-index-ignore" class="checkbox-inline" type="checkbox" value="ignore" checked="checked"> ignore case<br>
    Stop Words Dictionary:
    <select id="lb-index-stopwords" class="form-control-static">
        <option>None</option>
        <option selected="selected">Lucene</option>
    </select>
    <br>
    <button type="submit" id="indexButton" class="btn btn-primary" onclick="indexIt()">Index</button>
</fieldset>
