<form>
    <div class="row">
        <div class="col-md-7">
            <fieldset>
                <div class="checkbox">
                    <input id="cb-index-stem" class="styled" type="checkbox">
                    <label for="cb-index-stem"> Use Stemming</label>
                </div>
                <div class="checkbox">
                    <input id="cb-index-ignore" class="checkbox-inline" type="checkbox" checked="checked">
                    <label for="cb-index-ignore">Ignore Case</label>
                </div>

                <label for="lb-index-stopwords">Stop Directory</label>
                <select id="lb-index-stopwords" class="form-control" style="width: 40%">
                    <option>None</option>
                    <option selected="selected">Lucene</option>
                </select>
            </fieldset>
        </div>

        <div class="col-md-3">
            <button type="button" style="width: 100%" id="indexButton" class="btn btn-primary" onclick="indexIt()">Index</button>
        </div>
    </div>
</form>