<div class="alert alert-info" role="alert">
    <div class="container">
        <h3>Free Text Search</h3>
        <ul>
            <li>search with >=1 word(s): <i>Google Rocks</i></li>
            <li>phrase search: <i>"event detection"</i></li>
        </ul>

        <h3>Field Sensitive Search</h3>
        <ul>
            <li>Form: <i>field1:word1 <b>OR</b>/<b>AND</b> field2:"word2 word3"</i></li>
            <li>Validate Fields: <code>paperId</code>, <code>title</code>, <code>kind</code>, <code>authors</code>, <code>venue</code>
                , <code>pubYear</code></li>
            <li>Example: <i>authors:Maurizio or title:"Event Detection"</i></li>
        </ul>

    </div>

    <br>
</div>

<textarea class="form-control" id="infoBox">
</textarea>
