<h1>Searching</h1>

<form>

    <fieldset>
        <label><input id="cb-field-paperId" class="checkbox-inline" name="field" type="checkbox" checked="checked" value="paperId"></label>
        paperid<br>
        <input id="cb-field-title" class="checkbox-inline" name="field" type="checkbox" checked="checked" value="title">
        title<br>
        <input id="cb-field-kind" class="checkbox-inline" name="field" type="checkbox" checked="checked" value="kind">
        kind<br>
        <input id="cb-field-authors" class="checkbox-inline" name="field" type="checkbox" value="authors">
        authors<br>
        <input id="cb-field-venue" class="checkbox-inline" name="field" type="checkbox" checked="checked" value="venue">
        venue<br>
        <input id="cb-field-pubYear" class="checkbox-inline" name="field" type="checkbox" checked="checked" value="pubYear">
        pubyear<br>
    </fieldset>

</form>

<br>

<div>
    <input id="searchBox" class="form-control-static" type="text" value="Integer" onkeypress="selectiveSearchIt(event)"/>
    <button type="submit" id="searchButton" class="btn btn-primary" onclick="searchIt()">Search</button>
</div>

<br>

<table id="excelDataTable" border="1" class="table table-view"></table>