@(results: List[SearchPub])

<br>
<br>

<div class="row">
    <div class="input-group">
        <input type="text" id="searchBox" class="form-control" placeholder="Search for..." onkeypress="selectiveSearchIt(event)"/>
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="searchButton" onclick="searchIt()">Go!</button>
        </span>
    </div>
</div>

<br>

<table id="excelDataTable" border="1" class="table table-view"></table>

<ul>
    @for(s <- results) {
        <li class="tree-view">Document ID: @s.docID Score: @s.score</li>
        <ul>
        @for(entry <- s.info) {
            <li>@entry</li>
        }
        </ul>
    }
</ul>