@import common.Config

@(step: Int = Config.defaultStep, topN: Int = Config.defaultTopN)

<div class="container">

    <form class="form">

        <div class="checkbox col-lg-12">
            <label>
                <input id="cb-index-stem" type="checkbox"> Use Stemming
            </label>
        </div>

        <div class="checkbox col-lg-12">
            <label>
                <input id="cb-index-ignore" type="checkbox" checked="checked"> Lower Case
            </label>
        </div>

        <div class="input-group col-lg-12">
            <label for="lb-index-stopwords" class="text-info">StopWords</label>
            <select id="lb-index-stopwords" class="form-control">
                <option>None</option>
                <option selected="selected">Lucene</option>
            </select>
        </div>

        <div class="input-group col-lg-12">
            <label for="topNSelect" class="text-info">Top N</label>
            <select id="topNSelect" class="form-control">
                @for(i <- Range(step, 100 + step, step)) {
                    @if(i == topN) {
                        <option value="@i" selected="selected">@i</option>
                    } else {
                        <option value="@i">@i</option>
                    }
                }
            </select>
        </div>

        <div class="input-group col-lg-12">
            <label for="lb-s-similarity" class="text-info">Similarity</label>
            <select id="lb-s-similarity" class="form-control">
                <option>ClassicSimilarity</option>
                <option>BM25Similarity</option>
            </select>
        </div>

    </form>

</div>