<div class="container">

    <form class="form">

        <div class="checkbox col-lg-12">
            <label>
                <input id="cb-index-stem" type="checkbox"> Use Stemming
                @*<label for="cb-index-stem" class="form-control text-info font-weight-bold">Use Stemming</label>*@
            </label>
        </div>

        <div class="checkbox col-lg-12">
            <label>
                <input id="cb-index-ignore" type="checkbox"> Lower Case
            </label>
        </div>

        <div class="input-group col-lg-12">
            <label for="lb-index-stopwords" class="text-info">StopWords</label>
            <select id="lb-index-stopwords" class="form-control">
                <option>None</option>
                <option selected="selected">Lucene</option>
            </select>
        </div>

        <div class="input-group col-lg-12">
            <label for="topNSelect" class="text-info">Top N</label>
            <select id="topNSelect" class="form-control">
            @for(i <- 1 until 10) {
                <option value="@(i * 10)">@(i * 10)</option>
            }
            </select>
        </div>

    </form>

</div>

<div class="container">
    <div class="col-lg-12">
        <button type="button" id="indexButton" class="btn btn-primary" onclick="indexIt()">Index It!</button>
    </div>
</div>

<div class="container">

    <div class="input-group col-lg-12">
        <input type="text" id="searchBox" class="form-control" placeholder="Search for..." onkeypress="selectiveSearchIt(event)"/>
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="searchButton" onclick="searchIt()">Go!</button>
            <button type="button" class="btn btn-info" onclick="readTheDocs()">Help</button>
        </span>
    </div>
</div>